/* prayers.module.css */
.pageContainer {
    background-color: #ffffff; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #b3afaf; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .label {
    font-size: 1rem;
    margin-bottom: 0.9rem;
  }
  
  .input,
  .textarea {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .textarea {
    resize: vertical;
  }
  
  .submitButton {
    padding: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  